@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  padding-top: 5rem;
  background-image: linear-gradient(to right, #141e30, #243b55);
  color: greenyellow;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  margin-top: 5%;
}

.title {
  text-align: left;
  font-size: 3rem;
  margin-left: 14rem;
}

.score {
  display: flex;
  flex-direction: column;
  margin-right: 20rem;
  padding: 0.5rem;
  width: 25%;
  font-size: 1rem;
  box-shadow: rgba(0px, 0px, 0px, 0.56) 0px 22px 70px 4px;
  border: none;
  border-radius: 0.5rem;
}

.scorelist {
  padding: 10px;
}

.scorelist li {
  padding: 0.5rem;
}

.score ul li {
  list-style-type: none;
}

form button {
  position: absolute;
  width: 6rem;
  bottom: 3rem;
  right: 1rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: greenyellow;
  outline: none;
  background: inherit;
  border: none;
  font-family: 'Press Start 2P', cursive;
  border-radius: 0.5rem;
}

.scorelist-container {
  display: flex;
  width: 100%;
  height: auto;
  overflow: auto;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-align: left;
}

.scoreheading button {
  width: 6rem;
  text-align: center;
  padding: 0.7rem;
  font-size: 0.6rem;
  font-family: 'Press Start 2P', cursive;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: inherit;
  color: greenyellow;
}

.scoreheading h2 {
  font-size: 0.9rem;
}

form button:hover {
  cursor: pointer;
}

.scoreheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 7rem;
}

.scoreheading button:hover {
  cursor: pointer;
}

form {
  width: 25%;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(0px, 0px, 0px, 0.56) 0px 22px 70px 4px;
}

form input {
  width: 100%;
  border: none;
  outline: none;
  height: 2.5rem;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  background-image: linear-gradient(to right, #141e30, #243b55);
  color: greenyellow;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: 'Press Start 2P', cursive;
}

form input:focus {
  outline: none;
}

.form-title {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
